<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="{{ url_for('static', filename="angular.js") }}"></script>
    <script src="{{ url_for('static', filename="ui-bootstrap-tpls-0.13.0.min.js") }}"></script>
    <script src="{{ url_for('static', filename="example.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">

  </head>
  <body>

<div ng-controller="AlertDemoCtrl">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>
  </body>
</html>
