<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Desk Clone</title>
    <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename="angular.js") }}"></script>
    <script src="{{ url_for('static', filename="angular-route.js") }}"></script>
    <script src="{{ url_for('static', filename="ui-bootstrap-tpls-0.13.0.min.js") }}"></script>
    <script src="{{ url_for('static', filename="app.js") }}"></script>
    <script src="{{ url_for('static', filename="alertDemo.js") }}"></script>
    <script src="{{ url_for('static', filename="p5.js") }}"></script>
    <script src="{{ url_for('static', filename="p5.dom.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <script language="javascript" type="text/javascript">
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>

</head>
<body ng-app="app" ng-controller="AppCtrl as app" onload="updateDesk()">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DeskDrive</a>
        </div>
        <!-- TODO add a link to a page where one can see all their desks -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" ng-submit="submit(desk)" ng-controller="AppCtrl">
                <div class="form-group">
                    <input type="text" id="deskName" class="form-control" placeholder="#Desks" ng-model="desk">
                </div>
                <button type="submit" id="submit" value="submit" class="btn btn-default"
                        ng-click="app.updateCurrentDesk(desk)" onClick="updateDesk()">
                    Submit
                </button>
            </form>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="row" id="content">

    <!-- here we will have our canvas-->
  {#  <h1 class="text-center" id="currentDesk" ng-bind="desk">{{ desk }}</h1>b
    {% raw %} <p class="text-center">test: {{ desk }}</p> {% endraw %}

    <p class="text-center">Open file: {{ storage }}</p>

    <p class="text-center">text we entered: {{ name | angular }}</p>
#}
    <div id="embed-responsive">
        <iframe style="width: 100%; height: 100%" class="embed-responsive-item" id="canvasFrame"
                src="{{ url_for('static', filename="canvasFrame.html") }}" onload='javascript:resizeIframe(this);'>
        </iframe>
    </div>

    <script>
        function updateDesk() {
            // we only have 1 iframe so index is 0
            //var currentDesk = $("#currentDesk").text();
            var currentDesk = document.getElementById("deskName").value;
            console.log("updateDesk : ", currentDesk)

            // cant use jQuery, need to set contentTYpe
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/getjson/' + currentDesk,
                success: function (data) {
                    console.log(" updateDesk sending this data: ", data, "to the iframe from updateDesk");
                    window.frames[0].frameElement.contentWindow.clearBg();
                    window.frames[0].frameElement.contentWindow.initJSON(data);
                    window.frames[0].frameElement.contentWindow.updateDesk();
                }
            });

        }
    </script>


    <div id="getJSON">
        <script>
            function saveJSON(jsonStr) {
                var currentDesk = document.getElementById("deskName").value
                // cant use jQuery, need to set contentTYpe
                console.log("saveJSON for desk:", currentDesk)//, "with following json:", jsonStr);
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/savejson/' + currentDesk,
                    data: jsonStr,
                    success: function (data) {
                        //console.log("json sent to server and return was: ", data, "json saved in saveJSON main.html");
                    },
                    dataType: "json"
                });
            }

            function getJSON(callback) {
                var currentDesk = document.getElementById("deskName").value
                // cant use jQuery, need to set contentTYpe
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '/getjson/' + currentDesk,
                    success: function (data) {
                        //console.log("json fetched from the server:", data);
                        callback(data);
                    }
                });
            }


            //console.log(document.getElementById('canvasFrame').contentWindow.getJSON());
        </script>
    </div>

</div>
{# <button ng-click="app.saveDesk()">Save Desk</button>

<div ng-repeat="desk in app.desks">
    <img ng-src="{{ desk.storage|angular }}" alt=""/>

    <div class="ui">
        <input type="text" ng-model="desk.name"/>
        <button ng-click="app.updateDesk(desk)">Update</button>
        <button ng-click="app.deleteDesk(desk)">Delete</button>
    </div>
</div>
#}


</body>
</html>